<!-- nav -->
<!-- <nav class="navbar navbar-expand navbar-dark bg-dark">
  <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="/">Home</a>
      <a class="nav-item nav-link" routerLink="/todo" *ngIf="isAdmin">ToDo</a>
      <a class="nav-item nav-link" (click)="logout()">Logout</a>
  </div>
</nav> -->
<nav class="navbar navbar-light bg-light"  *ngIf="user">
  <div class="container-fluid">
    <div class="logo-container">
      <h1 id="page-logo">TO-DO_List-Application</h1>
    </div>
    <form class="d-flex">
      <button class="btn btn-outline-success" (click)="logout()">Sign Out</button>
    </form>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>