<div class="card mb-3 container-size ">
  <div class="card-header">
    <div class="row">
      <div class="col-9">
        <h5 class="card-title"> {{title}}</h5>
      </div>
      <div class=" col-3" *ngIf="!status">
        <i class="bi bi-pen px-2" (click)="handleEditClick()"
          style="font-size: 1.2rem; cursor: pointer; color: cornflowerblue;"></i>
        <i class="bi bi-trash px-2" (click)="handleDeleteClick()"
          style="font-size: 1.2rem; cursor: pointer; color: rgb(209, 63, 23);"> </i>
      </div>
    </div>
  </div>
  <div class="card-body">
    <p class="card-text">Description: {{description}}</p>
  </div>
  <div class="card-footer">
    DueDate: {{dueDate | date:'mediumDate' }}

    <button type="button" disabled [ngClass]="status ? 'btn btn-outline-success' : 'btn btn-outline-info'">{{status ?
      'Completed':'Pending'}}</button>
  </div>
</div>
<div>
</div>