<!-- <div class="container">
	<h2>TODO LIST</h2>
	<br>
	<form  [formGroup]="todoForm" class="row"  (ngSubmit)="onSubmit()">
			<div data-mdb-input-init class="form-outline mb-4">
				<textarea class="form-control" formControlName="title"  placeholder="Title" rows="2"></textarea>
			</div>
		  
			<div data-mdb-input-init class="col-sm-4 form-outline mb-4">
			  <input type="date"  formControlName="dueDate"  class="form-control" />
			</div>
		  
			<div data-mdb-input-init class="form-outline mb-4 col-sm-6">
			  <textarea class="form-control" formControlName="description"  placeholder="Description" rows="4"></textarea>
			</div>
			<button  class="button" type="submit" style="background-color: antiquewhite;">Add </button>
			
		  <br>
			<button class="button" style="background-color: antiquewhite;" (click)="onUpdate()">Update </button>
     
		</form>
	<h3></h3>
</div>
<div class="example-container">
  <h2>To do</h2>
<ng-container>
  <div
    cdkDropList
    #todoList="cdkDropList"
    [cdkDropListData]="todo"
    [cdkDropListConnectedTo]="[doneList]"
    class="example-list"
    (cdkDropListDropped)="drop($event)">
    <div class="example-box" *ngFor="let item of todo" cdkDrag>{{item.title}}</div>
  </div>
</ng-container>
</div>

<div class="example-container">
  <h2>Done</h2>

  <div
    cdkDropList
    #doneList="cdkDropList"
    [cdkDropListData]="done"
    [cdkDropListConnectedTo]="[todoList]"
    class="example-list"
    (cdkDropListDropped)="drop($event)">
    <div class="example-box" *ngFor="let item of done" cdkDrag>
      <div class="container">
        <div class="card mb-3">
          <div class="card-header"> 
            <div class="col-10">DueDate: 17/07/2024</div>
             <div class="col-2">
              <i class="bi bi-pen px-2" style="font-size: 1.2rem; cursor: pointer; color: cornflowerblue;"><i class="bi bi-trash px-2" style="font-size: 1.2rem; color: rgb(209, 63, 23);"> </i></i></div></div>
          <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



 -->
